.header {
  background-color: #edf3f8;
  padding-top: 35px;
  padding-bottom: 35px;
  background-image: url('../img/circle.png');
  background-repeat: no-repeat;
  background-size: 780px;
  background-position: calc(50% + 300px) -200px;
}

.header__inner{
  display: flex;
  justify-content: space-between;
}

.header__logo-and-nav {
  display: flex;
  align-items: center;
}

.logo {
 display: inline-block;
}

.logo__img {
  display: block;
  width: 135px;
  height: 38px;
}

.nav {
  margin-left: 65px;
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__list :nth-child( 1 ) {
  margin: 0;
}

.nav__item {
  margin-left: 40px;
}

.nav__link {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #36536b;
  opacity: 0.7;
  text-decoration: none;
}

.nav__link:hover {
  color: #0c5fa7;
}

.button {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
  color: #fbfcfe;
  padding: 16px 25px;
  background: #BA4270;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  border: none;
  cursor: pointer;
}

.button:hover {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
  color: #fbfcfe;
  background: #DA6D97;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
}

.button:active {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
  color: #fbfcfe;
  background: #BA4270;
  box-shadow: 10px 10px 25px -10px rgba(54,83, 107, 0.25);
  border-radius: 24px;
}

.button__one {
  display: none;
}

@include breakpoint-down($screen-size: 1030px) {
 
  .header {
  background-size: 780px;
  background-position: calc(50% + 9px) -381px;
  }
}

@include breakpoint-down($screen-size: 670px) {
  
  .nav__list {
    display: none;
  }

  .button {
    display: none;
  }

  .button__one {
    display: flex;
    align-items: center;
    background: none;
    border: none;
  }
}